<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shenhua.nandagy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<activity-->
        <!--android:name=".ui.activity.SplashActivity"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@style/AppWelcome">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".ui.activity.more.CircleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.me.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.ContentDetailActivity" />
        <activity android:name=".ui.activity.me.UserZoneActivity" />
        <activity android:name=".ui.activity.me.ZoneActivity" />
        <activity android:name=".ui.activity.me.UserZoneEditActivity" />
        <activity android:name=".ui.activity.me.UserAccountActivity" />
        <activity
            android:name=".ui.activity.me.PublishDynamicActivity"
            android:theme="@style/AppThemeFitsSystemWindows"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activity.me.MessageActivity" />
        <activity android:name=".ui.activity.me.SettingActivity" />
        <activity android:name=".ui.activity.me.AboutActivity" />
        <activity android:name=".ui.activity.more.ScoreQueryActivity" />
        <activity android:name=".ui.activity.more.StudyAreaActivity" />
        <activity android:name=".ui.activity.more.EmployActivity" />
        <!--<activity android:name=".ui.activity.more.CircleActivity" />-->
        <activity android:name=".ui.activity.more.CircleDetailActivity" />
        <activity android:name=".ui.activity.more.CommunityActivity" />
        <activity android:name=".ui.activity.more.LostFoundActivity" />
        <activity android:name=".ui.activity.more.PaperPlaneActivity" />
        <activity android:name=".ui.activity.more.PoyangLakeActivity" />
        <activity android:name=".ui.activity.me.FeedbackActivity" />
        <activity android:name=".ui.activity.WebActivity" />
        <activity android:name=".ui.activity.more.ScoreQueryResultActivity" />
        <activity android:name=".ui.activity.xuegong.FinanceActivity" />
        <activity android:name=".ui.activity.xuegong.EduAdminActivity" />
        <activity android:name=".ui.activity.home.GroupActivity" />
        <activity android:name=".ui.activity.home.PartyActivity" />
        <activity android:name=".ui.activity.home.LibraryActivity" />
        <activity android:name=".ui.activity.more.StudyAreaDetailActivity" />
        <activity
            android:name=".ui.activity.jiaowu.ScoreActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.jiaowu.BindingActivity"
            android:launchMode="singleTask" />

        <activity android:name=".ui.activity.ImageViewerActivity" />

        <!-- tencent -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1105094481" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="568c6a2767e58e0284001e45" />

        <!-- bmob -->
        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="All" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--<service-->
        <!--android:name="cn.bmob.push.lib.service.PushService"-->
        <!--android:exported="true"-->
        <!--android:label="PushService"-->
        <!--android:process=":bmobpush">-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.bmob.push.lib.service.PushService" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; 用于进程保活 &ndash;&gt;-->
        <!--<service-->
        <!--android:name="cn.bmob.push.lib.service.PushNotifyService"-->
        <!--android:process=":bmobpush" />-->

        <!--<receiver android:name="cn.bmob.push.PushReceiver">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash; 系统启动完成后会调用 &ndash;&gt;-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--&lt;!&ndash; 解锁完成后会调用 &ndash;&gt;-->
        <!--<action android:name="android.intent.action.USER_PRESENT" />-->
        <!--&lt;!&ndash; 监听网络连通性 &ndash;&gt;-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 第四部中创建的消息接收器，在这里进行注册 &ndash;&gt;-->
        <!--<receiver android:name="com.shenhua.nandagy.service.push.SystemPushReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.bmob.push.action.MESSAGE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 接收心跳和唤醒的广播，要和PushService运行在同个进程 &ndash;&gt;-->
        <!--<receiver-->
        <!--android:name="cn.bmob.push.PushNotifyReceiver"-->
        <!--android:process=":bmobpush">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash; 接收心跳广播的action &ndash;&gt;-->
        <!--<action android:name="cn.bmob.push.action.HEARTBEAT" />-->
        <!--&lt;!&ndash; 接收唤醒广播的action &ndash;&gt;-->
        <!--<action android:name="cn.bmob.push.action.NOTIFY" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--Boxing-->
        <activity
            android:name="com.shenhua.lib.boxing.ui.BoxingActivity"
            android:launchMode="singleTop"
            android:theme="@style/BoxingStyle" />

        <activity
            android:name="com.shenhua.lib.boxing.ui.BoxingViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/BoxingStyle" />

        <activity
            android:name="com.shenhua.lib.boxing.ui.CameraActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BoxingStyle" />
        <!--Android N 版本使用相机-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/boxing_file_provider" />

        </provider>
    </application>

</manifest>