<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shenhua.nandagy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.me.LoginActivity"
            android:launchMode="singleTask" />

        <activity android:name=".ui.activity.ContentDetailActivity" />
        <activity android:name=".ui.activity.me.UserZoneActivity" />
        <activity android:name=".ui.activity.me.UserZoneEditActivity" />
        <activity android:name=".ui.activity.me.UserAccountActivity" />
        <activity android:name=".ui.activity.me.PublishDynamicActivity" />
        <activity android:name=".ui.activity.me.MessageActivity" />
        <activity android:name=".ui.activity.me.SettingActivity" />
        <activity android:name=".ui.activity.me.AboutActivity" />
        <activity android:name=".ui.activity.more.ScoreQueryActivity" />
        <activity android:name=".ui.activity.more.StudyAreaActivity" />
        <activity android:name=".ui.activity.more.EmployActivity" />
        <activity android:name=".ui.activity.more.CircleActivity" />
        <activity android:name=".ui.activity.more.CommunityActivity" />
        <activity android:name=".ui.activity.more.LostFoundActivity" />
        <activity android:name=".ui.activity.more.PaperPlaneActivity" />
        <activity android:name=".ui.activity.more.PoyangLakeActivity" />
        <activity android:name=".ui.activity.me.FeedbackActivity" />
        <activity android:name=".ui.activity.WebActivity" />
        <activity android:name=".ui.activity.more.ScoreQueryResultActivity" />
        <activity android:name=".ui.activity.xuegong.FinanceActivity" />
        <activity android:name=".ui.activity.xuegong.EduAdminActivity" />
        <activity android:name=".ui.activity.home.GroupActivity" />
        <activity android:name=".ui.activity.home.PartyActivity" />
        <activity android:name=".ui.activity.home.LibraryActivity" />
        <activity android:name=".ui.activity.more.StudyAreaDetailActivity" />
        <activity
            android:name=".ui.activity.jiaowu.ScoreActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.jiaowu.BindingActivity"
            android:launchMode="singleTask" />
        <!-- tencent -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1105094481" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="568c6a2767e58e0284001e45" />

        <!-- bmob -->
        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="All" />

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>